# Nom du projet Docker Compose
COMPOSE_PROJECT_NAME=glenat-intranet

# Versioning Docker
APP_VERSION=2.0.0
APP_INSTANCE=developpement
GIT_COMMIT=local
BUILD_DATE=unknown

# Standalone (docker-compose-standalone.yml)
APP_HTTP_PORT=8080

# Production avec Traefik (docker-compose.yml)
APP_HOSTNAME=intranet.groupe-glenat.com
